[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "com.gps.tracker",
      "sha256_cert_fingerprints": [
        "YOUR_PRODUCTION_RELEASE_SHA256_FINGERPRINT",
        "YOUR_DEVELOPMENT_DEBUG_SHA256_FINGERPRINT"
      ]
    }
  }
]
